@include media(1320) {
  .reviews-slider {
    .slick-prev {
      left: -30px;
    }
    .slick-next {
      right: -30px;
    }
  }
}
@include media(1260) {
  .fixed {
    max-width: 980px;
  }

  .filter-block {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .profile-list {
    grid-gap: 15px;
  }

  .about-pic {
    width: 420px;
  }

  .filter-2 .filter-sub {
    width: 150px;
  }

  .article {
    .article-left {
      width: 680px;
    }

    .article-right {
      width: 280px;
    }
  }

  .nav-sidebar {
    .reg-form {
      padding: 27px 15px 25px 15px;
    }

    .privacy-policy {
      font-size: 13px;
    }
  }

  .scrollup {
    margin-left: 0;
    left: auto;
    right: 15px;
  }
}

@include media(1020) {
  .fixed {
    max-width: 740px;
  }

  .gen-title {
    font-size: 30px;
    max-width: 620px;
    margin-bottom: 28px;
  }

  .filter-body {
    justify-content: space-between;
  }

  .filter-cell {
    width: 150px;
  }

  .section-profile {
    margin-top: -90px;
  }

  .profile-list {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;

    li:nth-child(-n + 8) {
      display: none;
    }

    li:nth-child(-n + 6) {
      display: block;
    }
  }

  .title {
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
  }

  .section-reviews .title {
    margin-bottom: 26px;
  }

  .reviews-slider {
    margin: 0 -10px 30px -10px;
  }

  .rs-item {
    margin: 0 10px;
  }

  .section-reviews {
    padding: 70px 0;
    min-height: 525px;
  }

  .section-white {
    padding: 70px 0 40px 0;
  }

  .feature-list {
    margin: 0;

    li {
      margin: 0 0 30px 0;
      width: calc(50% - 10px);

      .fl-pic {
        margin-bottom: 15px;
      }
    }
  }

  .sr-flex {
    max-width: 650px;
    flex-direction: column;

    .reg-form {
      margin-left: 0;
    }
  }

  .sr-cont {
    margin-bottom: 50px;
    text-align: center;
  }

  .sr-title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .section-reg {
    padding: 70px 0;
  }

  .route {
    margin-bottom: 20px;
  }

  .pb-pic-block {
    width: 358px;
    margin-right: 22px;
  }

  .pc-info {
    padding-top: 0;
  }

  .pc-data {
    width: 100%;
    padding-right: 0;
  }

  .pc-data-hidden {
    display: none;
  }

  .pc-data-more {
    display: inline-block;
  }

  .photo-gallery {
    grid-template-columns: repeat(6, 1fr);

    .pg-item {
      &:nth-child(-n + 8) {
        display: none;
      }

      &:nth-child(-n + 6) {
        display: block;
      }

      &:nth-child(6) {
        .more-photo {
          display: block;
        }
      }
    }
  }

  .about-pic {
    display: none;
  }

  .filter-2 {
    .filter-body {
      flex-wrap: wrap;
    }

    .filter-cell {
      width: calc(50% - 7px);
      margin: 0 0 15px 0;

      &.filter-age {
        width: calc(25% - 10px);
      }
    }

    .filter-sub {
      width: 100%;
      margin-top: 5px;
    }
  }

  .article {
    flex-direction: column;

    .article-left {
      width: 100%;
      order: 2;
    }

    .article-right {
      width: 100%;
      order: 1;
      margin-bottom: 40px;
      padding-top: 0;
    }
  }

  .nav-sidebar .reg-form {
    display: none;
  }

  .footer-section-block {
    padding-top: 0;

    .footer-section {
      margin-top: 30px;
      width: 50%;
    }
  }
}

@include media(766) {
  .fixed {
    max-width: 100%;
    padding: 0 15px;
  }

  .logo {
    display: block;
    max-width: 150px;
  }

  .btn-reg {
    height: 45px;
  }

  .gen-title {
    font-size: 24px;
    max-width: 620px;
    margin-bottom: 24px;

    span {
      display: block;
    }
  }

  .cell-country {
    display: none;
  }

  .cell-age {
    width: 91px;
  }

  .filter-sub {
    width: 140px;
  }

  .profile-list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;

    li {
      .status-online {
        top: 9px;
        right: 9px;
        width: 10px;
        height: 10px;
      }

      .pl-pic-block {
        .pl-quantity-photo {
          font-size: 13px;
          min-width: 110px;
        }

        .pl-pic {
          border-radius: 10px 60px 15px 15px;
          .pl-view {
            font-size: 30px;
          }
        }
      }

      .pl-cont {
        .pl-name {
          margin-bottom: 4px;
          font-size: 18px;
        }

        .pl-info {
          margin-bottom: 15px;
          font-size: 13px;
        }
      }

      .btn {
        height: 45px;
      }
    }
  }

  .btn.btn-blue-transparent {
    width: 100%;
    margin: 15px 0 15px 0;
  }

  .section-reviews {
    padding: 50px 0;
    min-height: 10px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .feature-list {
    max-width: 335px;
    margin: 0 auto;

    li {
      width: 100%;
      text-align: center;
    }
  }

  .section-reg {
    padding: 50px 0;
  }

  .sr-title {
    margin-bottom: 0;
    font-size: 28px;
  }

  .sr-text {
    display: none;
  }

  .sr-cont {
    margin-bottom: 40px;
  }

  .reg-form {
    border-radius: 10px;
    padding: 30px 32px;
    max-width: 370px;
    width: 100%;
  }

  .rf-title {
    font-size: 24px;
  }

  .footer-flex {
    flex-direction: column;
  }

  .social-block {
    display: none;
  }

  .copyright {
    margin-top: 5px;
  }

  .footer-block {
    padding: 15px 0;
  }

  .profile-block {
    display: block;
  }

  .pb-pic-block {
    max-width: 370px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .photo-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .popup-reg {
    border-radius: 10px;
    padding: 20px 20px;
    width: 370px;
  }

  .about-cont h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .filter-2 {
    .filter-cell {
      width: 100%;

      &.filter-age {
        width: calc(50% - 7px);
      }
    }
  }

  .title-cont {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .footer-section-block .footer-section {
    width: 100%;
  }
}

@include media(600) {
  .filter-body {
    width: 100%;
  }

  .cell-age {
    width: 100%;
  }
}

@include media(480) {
  .logo {
    max-width: 130px;
  }

  .btn-reg {
    height: 40px;
  }

  .cell-age {
    width: 100%;
    margin-right: 8px;
  }

  .filter-sub {
    width: 120px;
    font-size: 12px;
  }

  .fc-label {
    margin-bottom: 4px;
    font-size: 12px;
  }

  .section-profile {
    margin-top: -70px;
  }

  .profile-list {
    grid-gap: 7px;

    li .btn {
      width: 140px;
      height: 40px;
      font-size: 12px;
    }
  }

  .reg-form {
    padding: 15px;
  }

  .pb-menu {
    left: 0px;
    right: 0px;
  }

  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .pb-pic-block .status-online {
    top: 8px;
    right: 7px;
    width: 14px;
    height: 14px;
  }

  .pc-info {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .pc-name {
    font-size: 24px;
  }

  .pc-data {
    font-size: 14px;
  }

  .btn.btn-big {
    max-width: 100%;
  }

  .title-gallery {
    font-size: 24px;
  }

  .popup-reg {
    border-radius: 8px;
    padding: 15px;
    max-width: 370px;
    width: 96%;

    .rf-text-field {
      height: 45px;
      padding: 0 15px;
    }

    .rf-row {
      margin-bottom: 10px;

      .ui-selectmenu-button .ui-selectmenu-text {
        padding-left: 15px;
        height: 43px;
      }
    }

    .rf-flex .rf-cell {
      margin-bottom: 10px;
    }

    .btn,
    .sign-fb,
    .sign-google,
    .sign-apple {
      height: 45px;
    }

    .rf-title {
      font-size: 22px;
      margin-bottom: 15px;
    }

    .privacy-policy {
      font-size: 13px;
    }
  }

  .section-article {
    padding: 40px 0;
  }
}

@include media(375) {
  .profile-list {
    display: block;

    li {
      margin-bottom: 15px;
    }
  }
}
