$color_main: #333333;
$color_light_blue: #ECF8FD;
$color_white: #ffffff;
$color-gradient_1: linear-gradient(95.3deg, #FFC90C 1.53%, #FF0CC9 167.08%);
$color-gradient_2: linear-gradient(95.53deg, #FF0CC9 -75.22%, #FFC90C 100%);
$color-grey: #4F4F4F;
$color-grey_2: #DADADA;
$color-grey_3: #F9F9F9;
$color-blue: #465769;
$color-btn-blue: #469CBC;
$color-btn-blue-light: #5BBBDF;
$color-green: #7FAB3F;
$color-footer_bg: #222222;

$font_main: 'Open Sans', sans-serif;
$font_title: 'Montserrat', sans-serif;

$content_margin: 15px;